<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link
          href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
          rel="stylesheet"
        />
<!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/mystyles.css" rel="stylesheet" />
      </head>
    <!-- Search Bar -->
    <section class="py-3">
            <body>
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                  <a class="navbar-brand" href="#!">Wee Wear</a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/browse">Browse</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Donate</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <label><b>Donation Information:</b></label>
              <br><br>
              <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                  <div class="col-md-4 mb-2">
                    <label for="searchInput">Search:</label>
                    <input
                      type="text"
                      id="searchInput"
                      name="search"
                      placeholder="Search by item name"
                      onkeyup="searchTable()"
                    />
                  </div>
                  <br><br>
              <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;" name="donateinfo">
                <thead style="background-color: #ffc107; color: white;">
                  <tr>
                    <th style="text-align: left;">Item Title</th>
                    <th style="text-align: left;">Category</th>
                    <th style="text-align: left;">Description</th>
                    <th style="text-align: left;">Quantity</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody style="font-family: Arial; font-size: 9pt;">
                 <% for (let iCount = 0; iCount < myitems.length; iCount++) { %>
                    <tr>
                      <td><%= myitems[iCount].item_title %></td>
                      <td><%= myitems[iCount].category %></td>
                      <td><%= myitems[iCount].description %></td>
                      <td><%= myitems[iCount].quantity %></td>
                      <td style="text-align: center;">
                        <form action="/donateEdit/<%= myitems[iCount].item_id %>" method="GET">
                          <button type="submit">Edit</button>
                        </form>
                      </td>
                      <td style="text-align: center;">
                        <form action="/donateDelete/<%= myitems[iCount].item_id %>" method="POST">
                          <button type="submit">Delete</button>
                        </form>
                      </td>
                    </tr>
                 <% } %>
                </tbody>
              </table>
              <br><br>
              <form action="/donateAdd" method="GET">
                <button type="submit">Add Item</button>
              </form>
           <script>
            function searchTable() {
              let input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("searchInput");
              filter = input.value.trim(); // Trim any whitespace
      
              table = document.getElementById("donateinfo");
              tr = table.getElementsByTagName("tr");
      
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Change the index if your survey ID is in a different column
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.trim() === filter) {
                    // Check for exact match
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
          </script>
      </body>
    </html>
  </body>
</html>
